{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_marcos.html" as macros %}


{% block content %}
{% include 'includes/_posts.html' %}
    {% if current_user.is_authenticated %}
<h4 id="comments">评论</h4>
<div class="comment-form">
    {{ wtf.quick_form(form) }}
</div>
{% endif %}
{% include 'includes/_comments.html' %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.post', fragment='#comments', id=posts[0].id) }}
</div>
{% endif %}
{% endblock %}